/*
    ** Head and Jumbotron **
*/


#headContent {
    background: #457fca;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #457fca, #5691c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #457fca, #5691c8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 600px;
}

.jumbotron {
    background: transparent !important;
    color: #fff;
    padding-top: 80px;
}

#keyFeatures li {
    font-size: 16px;
    padding: 15px 0px 0px 0px;
}


/*
    ** About Section **
*/

#aboutContent {
    min-height: 500px;
    box-shadow: 0px 2px 0px #ddd;
}

#aboutLeft {
    min-height: inherit;
    /*background: #008E54;*/
    /*color: #fff;*/
}
#triangle-topleft {
	width: 0;
	height: 0;
    position:absolute;
	border-top: 500px solid #000;
	border-right: 600px solid transparent;
}
#aboutRight {
    min-height: inherit;
    /*background: rgba(0, 142, 84, 0.8);*/
    /*color: #fff;*/
}

#aboutContent p {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 20px;
}


/*    
    ** How it works Section **
*/

.circle-widget{
    height:200px;
    width:200px;
    border:1px solid #ddd;
    line-height:200px;
    border-radius:100px;
    font-size:90px;
    text-align:center;
    margin:0 auto 15px auto;
  background: #337ab7;
    color:#FFF8DC;
}
.circle-widget + p{
    font-size:18px;
    color:#777;
    line-height:30px;
}

/*
    ** Products Section **
*/

#productsContent {
    min-height: 500px;
    /*color: #fff;*/
}

#prodLeft {
    /*background: rgba(51, 122, 183, 0.8);*/
    min-height: inherit;
}

#prodRight {
    /*background: #337ab7;*/
    min-height: inherit;
}
.font-lg{
    font-size:100px;
    color:#5bc0de;
    margin-bottom:20px;
}
#slider-thumbs {
    margin: 20px 5px;
}
.bg-prod-custom{
    background:green;
}

/*
    ** Tech Section **
*/

#techContent {
    min-height: 500px;
}

#techLeft {
    /*background: rgba(205, 187, 121, 0.8);*/
    min-height: inherit;
}

#techRight {
    /*background: #CDBB79;*/
    min-height: inherit;
}

#techGrid ul li {
    margin: 10px 10px 10px 0px;
}

#techGrid img {
    width: 120px;
    height: 120px;
}


/*
    ** Media Queries **
*/


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .jumbotron {
        padding-top: 60px;
        min-height: 300px;
    }
    .innerwrapper {
        padding: 60px 0px 20px 0px;
    }
    #aboutContent p {
        font-size: 14px;
        padding: 0px;
        line-height: 35px;
    }
    #productsContent {
        min-height: 400px;
    }
    #techContent {
        min-height: 500px;
    }
    #prodRight,
    #techLeft {
        min-height: 300px;
    }
    h3 {
        padding: 30px 0px;
        margin-top: 0px;
    }
    ol,
    ul {
        margin: 0;
    }
    #slider-thumbs {
        margin: 10px 0px 0px 5px;
    }
}