<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 border-right">
                <table>
                    <tr>
                        <td class="ptb-10">
                            <div class="circle-widget-xs"><i class="fa fa-map-marker"></i></div>
                        </td>
                        <td>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ptb-10">
                            <div class="circle-widget-xs"><i class="fa fa-envelope"></i></div>
                        </td>
                        <td>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="ptb-10">
                            <div class="circle-widget-xs"><i class="fa fa-phone"></i></div>
                        </td>
                        <td>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </td>
                    </tr>
                </table>


            </div>
            <div class="col-md-1 border-right"></div>
            <div class="col-md-5">
                <p class="text-muted">&copy; 2016 Lorem</p>
                <h4 class="text-bold">About Company:</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit pariatur facere et, assumenda laboriosam, repellendus fuga aliquam? Amet expedita inventore ipsum placeat repellat nulla officia nesciunt, quos quidem voluptatum voluptatem.</p>
                <ul class="list-inline">
                    <li>
                        <a href="https://facebook.com">
                            <div class="circle-widget-xs"><i class="fa fa-facebook"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com">
                            <div class="circle-widget-xs"><i class="fa fa-twitter"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com">
                            <div class="circle-widget-xs"><i class="fa fa-linkedin"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com">
                            <div class="circle-widget-xs"><i class="fa fa-google"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </div>

</footer>