<head>
    <title>Dexmate - Home</title>
    <ng-include src="'templates/styles.html'"></ng-include>
    <link rel="stylesheet" href="css/home.css">
    <!--<link rel="stylesheet" href="css/about.css">-->
</head>

<body>
    <ng-include src="'templates/header.html'"></ng-include>

    <article id="headContent" class="border-bottom outerwrapper">
        <div class="container">
            <div id="triangle-topleft"></div>
            <div class="jumbotron">
                <div class="col-md-9">
                    <div>
                        <h1>Lorem</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Lorem : </h3>
                    <hr>
                    <ul id="keyFeatures">
                        <li>Lorem</li>
                        <li>Lorem</li>
                        <li>Lorem</li>
                        <li>Lorem</li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
    <div class="container">
        <article id="aboutContent" class="bg-white panel">
            <div class="innerwrapper panel-body">

                <div class="text-center" id="aboutLeft">
                    <div class="big-heading">
                        <h1 class="text-primary text-bold">Lorem</h1>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1" id="aboutRight">

                    <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ducimus expedita incidunt magni neque perferendis quos repellendus voluptatem. A asperiores atque aut, autem commodi
                    </p>
                </div>


            </div>
        </article>
        <article class="bg-white panel" id="procedureContent">
            <div class="innerwrapper panel-body">
                <div class="text-center big-heading" id="procLeft">
                    <h1 class="text-primary text-bold">Lorem</h1>
                </div>
                <div class="col-md-12 text-center" id="procRight">
                    <div class="col-md-4">
                        <div class="circle-widget-lg">
                            <i class="fa fa-clipboard"></i>
                        </div>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, nulla?</p>
                    </div>
                    <div class="col-md-4">
                        <div class="circle-widget-lg">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, totam.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="circle-widget-lg">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, totam.</p>
                    </div>
                </div>
            </div>
        </article>
        <article id="productsContent" class="bg-white panel">
            <div class="innerwrapper panel-body">
                <div class="panel-body">
                    <div class="text-center" id="prodRight">
                        <div class="big-heading">
                            <h1 class="text-primary text-bold">Lorem</h1>
                        </div>
                    </div>
                    <div id="prodLeft">
                        <div id="prodCarousel">
                            <div class="col-md-12">
                                <h3 class="text-success mb-15">Lorem ipsum dolor sit amet, </h3>
                                <div class="text-center">
                                    <div class="col-md-3">
                                       <div class="panel panel-info ptb-30">
                                           <div class="panel-body">
                                               <i class="fa fa-file font-lg"></i>
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, sit?</p>
                                           </div>
                                       </div>
                                       
                                    </div>
                                    <div class="col-md-3">
                                       <div class="panel panel-success ptb-30">
                                           <div class="panel-body">
                                               <i class="fa fa-file font-lg"></i>
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, sit?</p>
                                           </div>
                                       </div>
                                       
                                    </div>
                                    <div class="col-md-3">
                                       <div class="panel panel-warning ptb-30">
                                           <div class="panel-body">
                                               <i class="fa fa-file font-lg"></i>
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, sit?</p>
                                           </div>
                                       </div>
                                       
                                    </div>
                                     <div class="col-md-3">
                                       <div class="panel panel-danger ptb-30">
                                           <div class="panel-body">
                                             <i class="fa fa-file font-lg"></i>
                                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, sit?</p>
                                           </div>
                                       </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</body>